#include <winres.h>
#include "constants.h"

IDI_APPICON ICON "app-icon.ico"

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 280, 230 // Increased height from 210 to 230
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MusicPP Settings"
FONT 9, "Segoe UI"

BEGIN
    // General
    GROUPBOX    "General", IDC_STATIC, 8, 8, 264, 55

    CONTROL     "Enable Discord Rich Presence",
                IDC_CHECK_DISCORD,
                "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                16, 22, 220, 10

    CONTROL     "Enable Last.fm Scrobbling",
                IDC_CHECK_LASTFM,
                "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                16, 36, 220, 10

    // Credentials
    GROUPBOX "Credentials", IDC_STATIC, 8, 70, 264, 120

    LTEXT       "Note: API Credentials are hidden for safety",
                IDC_STATIC,
                16, 84, 240, 10, SS_NOPREFIX

    // Spotify
    LTEXT       "Spotify Client ID:",
                IDC_STATIC,
                16, 102, 90, 10
    EDITTEXT    IDC_EDIT_SPOTIFY_ID,
                112, 100, 150, 14,
                ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT       "Spotify Secret:",
                IDC_STATIC,
                16, 122, 90, 10
    EDITTEXT    IDC_EDIT_SPOTIFY_SECRET,
                112, 120, 150, 14,
                ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP

    // Last.fm
    LTEXT       "Last.fm API Key:",
                IDC_STATIC,
                16, 142, 90, 10
    EDITTEXT    IDC_EDIT_LFM_KEY,
                112, 140, 150, 14,
                ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT       "Last.fm Secret:",
                IDC_STATIC,
                16, 162, 90, 10
    EDITTEXT    IDC_EDIT_LFM_SECRET,
                112, 160, 150, 14,
                ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP

    // Results
    PUSHBUTTON  "Apply",
                ID_APPLY,
                80, 204, 60, 16

    PUSHBUTTON  "OK",
                IDOK,
                146, 204, 60, 16

    PUSHBUTTON  "Cancel",
                IDCANCEL,
                212, 204, 60, 16
END
